* {
    margin: 0;
}
html {
    background-image: url(headerQuaresma.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    
    /* background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: contain; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin-top: 40px;
    margin-bottom: 50px;
    width: 94.3vw;
    text-align: center;
    padding: 80px 10px;
    background: transparent;
    color: #000;
    margin-bottom: -70px;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    letter-spacing: 3px;
    background: rgba(255, 255, 255, 0.201);
    border-radius: 8px;
    box-shadow: 2px -2px 2px #00000052;
}

.title {
    color:blueviolet;
    text-shadow: #000000 1px 1px 1px;
}

main{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 50px 0px;
    /* border-left: #00000044 solid 1px;
    border-right: #00000045 solid 1px; */
    width: 93%;
    /* background: #00000028;
    box-shadow: #00000053 1px -1px 1px; */
}

section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /* background: blueviolet; */
    margin-top: 50px;
    width: 50%;
}

.filter {
    filter: grayscale(100);
    filter: blur(20px);
    opacity: 0.5;
    cursor: none;
}

.videos {
    margin: 20px 0px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.videos > .span {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: bold;
    color: blueviolet;
    text-shadow: 1px 1px 1px #000;
    padding-left: 10px;
    background: transparent;
    border-radius: 2px;
    letter-spacing: 2px;
    background: rgba(255, 255, 255, 0.407);
    width: 550px;
    height: 60px;
    box-shadow: #00000028 2px -2px 2px;
    margin-bottom: 4px;
}


footer { 
    width: 99vw;
    height: 20px;
    background: transparent;
}

@media screen and (max-width: 1250px) {

    /* iframe {
        width: 260px;
        height: auto;
    } */

    section {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 50px;
        width: auto;
    }
}


@media screen and (max-width: 580px) {


    html {
        background-image: url(headerQuaresma.jpg);
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }

    section {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 50px;
        width: auto;
    }

    iframe {
        width: 430px;
        height: 220px;
    }

    .videos {
        margin: 1px 0px;
    }

    .videos > .span {
        font-size: 15px;
        margin-top: 8px;
        padding-left: 10px;
        width: auto;
    }

    /* footer { 
        width: 100vw;
        height: 20px;
        background: #000;
    } */
}

@media screen and (max-width: 420px) {
    html {
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
    }

    iframe {
        width: 367px;
        height: 170px;
    }
}
